/* Write your CSS code here */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-heading {
  font-family: 'Roboto';
  color: black;
}

.login-btn {
  font-family: 'Roboto';
  color: black;
}
